## Camada de Compilação .NET
bin/
obj/
out/
[Bb]in/
[Oo]bj/

## Arquivos de Configuração do Usuário e Cache
.vs/
.idea/
*.user
*.userosscache
*.sln.doccache
*.suo

## Arquivos do Sistema Operacional
Thumbs.db
ehthumbs.db
Desktop.ini

## Node.js (Para quando criarmos o frontend)
node_modules/
npm-debug.log*

## Arquivos de Log
*.log
*.logs
MeuSitePessoal.Api/logs/

## Publicação e Pacotes
*.nupkg
*.vsix

## Arquivos de configuração
.env*

# JetBrains Rider HTTP Client environment files
http-client.private.env.json